<nav class="nav">
	<ul>
		<li routerLink="/movies">Movies</li>
		<li routerLink="/space-x">Space X</li>
		<li routerLink="/pokemon">Pokemon</li>
	</ul>
</nav>

<!-- CONTAINERS RENDER START -->
<router-outlet></router-outlet>
<!-- CONTAINERS RENDER END -->

