<article (click)="onMovieClicked()" class="movie">
	<img class="movie__cover" [src]="movie.cover" [alt]="movie.title">
	<h4 class="movie__title">{{ movie.title }}</h4>
	<p>{{ movie.description }}</p>
	<footer>
		<p>Rating: {{ movie.rating }}</p>
		<p>Director: {{ movie.director }}</p>
	</footer>
</article>
