<app-container>
	<h1>NgMovies</h1>
  
	<p *ngIf="error">{{ error }}</p>
  
	<main class="movies">
	  <app-movie
		*ngFor="let movie of movies$ | async"
		[movie]="movie"></app-movie>
	</main>
  </app-container>